<ion-card>

  <!-- Image -->
  <div *ngIf="image" class="card-image" [ngStyle]="{'background-image' : image}"></div>

  <!-- Category + Heading -->
  <ion-card-content>
    <h2 class="headingTop" *ngIf="showCategory && category">{{ category }}</h2>
    <h2 class="headingTop" *ngIf="showDate && date">{{ date }}</h2>
    <h1 class="headingSmall" *ngIf="title">{{ title }}</h1>
    <p *ngIf="text">{{ text }}</p>
  </ion-card-content>

  <div class="location" *ngIf="showLocation && location">
    <ion-icon name="pin"></ion-icon>
    <span>{{ location }}</span>
  </div>

</ion-card>
