<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Über die App</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div class="aboutTop">
    <img src="assets/img/logo.png"/>
    <p>
      <b>SC Dahenfeld 1946 e.V.</b><br/>
      In den Prügelwiesen<br/>
      74172 Neckarsulm
    </p>
  </div>

  <ion-item-group>
    <ion-item-divider light>Die SC Dahenfeld App</ion-item-divider>
    <ion-item>
      <ion-label>App-Version</ion-label>
      <p item-right>{{ version }}</p>
    </ion-item>
    <ion-item>
      <ion-label>Design und Entwicklung</ion-label>
      <p item-right>Timo Dittmann</p>
    </ion-item>
  </ion-item-group>

</ion-content>
