<ion-header>
  <scd-navbar heading="Impressum"></scd-navbar>
</ion-header>

<ion-content>
  <div class="maxWidthContainer">
    <div text-center class="padding-top">
      <img src="assets/img/logo.png" class="aboutImage"/>
      <p>
        <b>SC Dahenfeld 1946 e.V.</b><br/>
        In den Prügelwiesen<br/>
        74172 Neckarsulm
      </p>
    </div>

    <ion-item-group>
      <ion-item>
        <ion-label>App-Version</ion-label>
        <p item-right>{{ version }}</p>
      </ion-item>
      <ion-item>
        <ion-label>Design und Entwicklung</ion-label>
        <p item-right>{{ developer }}</p>
      </ion-item>
    </ion-item-group>
  </div>

</ion-content>
