<ion-header no-border>
  <ion-navbar transparent class="navBar-color-onScroll-transition">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="shareArticle()">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>

  <page-state [isLoading]="isLoading" [isError]="isError"></page-state>

  <leadimage [src]="article?.image"></leadimage>

  <article-metadata [title]="article?.titel"
                    [author]="article?.ersteller"
                    [date]="article?.erstellungsdatum"
                    [subHeading]="article?.kategorie"
                    [showDetails]="showInformation(article?.id)">
  </article-metadata>

  <div padding [innerHtml]="article?.text" class="htmlContent"></div>

  <simple-button text="Teilen"
                 icon="share"
                 (click)="shareArticle()">
  </simple-button>

</ion-content>
