<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Vereinskalender</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <loading [isLoading]="isLoading"></loading>
  <error [isError]="isError"></error>

  <ng-template [ngIf]="matches?.length > 0">
    <ion-item-group *ngFor="let s of matches">
      <!-- DATE -->
      <ion-item-divider light *ngIf="checkHeader(s.date)">{{ s.date | date : 'fullDate' }}</ion-item-divider>

      <!-- MATCH -->
      <ion-item (click)="openMatch(s.match_id)">
        <!--<ion-avatar item-left>-->
        <!--<div class="circle">{{ s.mannschaftsart | slice : 0 : 1}}</div>-->
        <!--</ion-avatar>-->

        <p>{{ s.date | date : "HH:mm" }} Uhr | {{ s.mannschaftsart }}</p>
        <h2><b>{{ s.home_name }} - {{ s.away_name }}</b></h2>
      </ion-item>

    </ion-item-group>
  </ng-template>

  <ng-template [ngIf]="matches?.length == 0">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <img src="assets/img/error.jpg"/>
          <h4 style="text-align: center;">Es konnte kein Termin gefunden werden</h4>
        </div>
      </div>
    </div>
  </ng-template>

</ion-content>
