<ion-header no-border>
  <simple-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="shareArticle()">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
  </simple-navbar>
</ion-header>

<ion-content>

  <page-state [isLoading]="isLoading" [isError]="isError"></page-state>

  <article-metadata [title]="article?.titel"
                    [author]="article?.ersteller"
                    [date]="article?.erstellungsdatum"
                    [subHeading]="article?.kategorie"
                    [showDetails]="showInformation(article?.id)">
  </article-metadata>

  <div padding [innerHtml]="article?.text" class="htmlContent"></div>

  <simple-button text="Teilen"
                 icon="share"
                 (click)="shareArticle()">
  </simple-button>


</ion-content>
