match-overview-card {

  color: $heading-dark !important;
  text-align: center;

  .matchRoundNumber {
    padding-top: 8px !important;
  }

  .matchDate {

  }

  .matchResult {
    font-size: 2em;
    font-weight: bold;
    vertical-align: middle;
    line-height: 50px;
  }

  .matchTeamNames {
    font-weight: bold;
  }

  .matchLocation {
    border-top: 1px solid $separator-light;
    padding: 8px;
  }

}
