match-overview {

  color: $heading-dark !important;
  text-align: center;

  .matchRoundNumber {
    padding-top: 8px !important;
  }

  .matchTeamNames {
    font-weight: bold;
  }

  .matchLocation {
    border-top: 1px solid $separator-light;
    padding: 8px;
  }

}
