<ion-header no-shadow no-border>
  <simple-navbar [heading]="team.toString()"></simple-navbar>
</ion-header>

<ion-content>

  <super-tabs *ngIf="team" toolbarColor="lighter" indicatorColor="lighter">
    <super-tab [root]="tableTab" title="Tabelle" [rootParams]="{'id': team}"></super-tab>
    <super-tab [root]="fixturesTab" title="Spiele" [rootParams]="{'id': team}"></super-tab>
    <super-tab [root]="teamTab" title="Kader" [rootParams]="{'id': team}"></super-tab>
    <super-tab [root]="statsTab" title="Statistiken" [rootParams]="{'id': team}"></super-tab>
  </super-tabs>

</ion-content>
