// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$primary-color: #e00001;
$white-color: #fff;

$separator-light: #e4e7ed;
$separator-dark: #65686d;

$heading-dark: #31404b;

$background-color: #fff;
$ionic-content-bg-color: #e1e6ea;
$toolbar-background: $primary-color;
$toolbar-border-color: $white-color;
$toolbar-text-color: $white-color;
$toolbar-active-color: $white-color;
$toolbar-inactive-color: $white-color;

$leadimage-height: 60vh;
$leadimage-shadow: 0px 1px 20px $heading-dark;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: $primary-color,
  lighter: $white-color,
);

$tabs-background: $primary-color;
$tabs-tab-color-active: $white-color;

$tabs-ios-tab-color-inactive: $white-color;
$tabs-md-tab-color-inactive: $white-color;
$tabs-md-tab-font-weight: bold;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
