// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$primary-color: #e00001;
$gray-color: gray;
$text-color: #3e3e3e;
$active-color: #dadada;
$blue-dark: #007aff;
$background-color: #fff;
$ionic-content-bg-color: #e1e6ea;
$toolbar-background: $primary-color;
$toolbar-border-color: white;
$toolbar-text-color: white;
$toolbar-active-color: white;
$toolbar-inactive-color: white;

$leadimage-height: 60vh;
$leadimage-shadow: 0px 1px 20px grey;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: $primary-color,
  secondary: #32db64,
  danger: #c03636,
  light: $gray-color,
  dark: #222,
  favorite: #69BB7B,
);

$tabs-background: $primary-color;
$tabs-tab-color-active: #fff;

$tabs-ios-tab-color-inactive: #fff;
$tabs-md-tab-color-inactive: #fff;
$tabs-md-tab-font-weight: bold;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
