// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../pages/oldies/oldies.component";
@import "../pages/articleDetail/leadImage/articleDetailLeadImage.component";

.grayBackground {
  background-color: #ebebeb;
}

hr {
  background: rgba(0, 0, 0, 0.2);
}

.htmlContent {
  line-height: 1.5;
  font-size: 16px;
}

.htmlContent img {
  height: auto;
  width: 100%;
}

.padding-top {
  padding-top: 16px;
}

.separator {
  height: 16px;
}

.noMargin {
  margin: 0;
}

.statsHeading {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 1.2em;
}

/* CLUB LOGOS */
.logoSmall,
.logoMiddle,
.logoBig {
  width: auto;
  margin: auto;
}

.logoSmall {
  height: 25px;
}

.logoMiddle {
  height: 50px;
}

.logoBig {
  height: 75px;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
}

/* MENU */
#menu-material {
  .menu-header {
    padding: 5px 15px;
    background-image: url('../assets/img/menu_bg.png');
    background-size: cover;
    color: white;
    text-align: center;

    .name {
      font-weight: 400;
      font-size: 1.25em;
      margin: 0;
    }

  }

  ion-list-header {
    text-transform: uppercase;
  }

  .user-avatar {
    padding: 0;
    height: 12vh;
  }

  .list-header {
    font-size: 1.2em !important;
    font-weight: 400 !important;
  }

  h3,
  .label {
    font-weight: 400;
  }

  .navigationItemIsActive {
    color: $primary-color;
    background-color: $separator-gray;
  }

  ion-list-header {
    margin-bottom: 0px !important;
  }

  .navigationFront {
    color: $primary-color;
    font-weight: bold;
  }
}

/* Slider */
.swiper-pagination-bullet-active {
  background: $primary-color !important;
}

/* SCROLLING NAVBAR */
.navBar-color-onScroll {
  background-color: $primary-color;
}

.navBar-color-onScroll-transition {
  transition: background-color 0.5s ease-out;
}

/* HEADING */
.headingTop {
  color: $primary-color !important;
  font-size: 12px !important;
  margin: 0px;
  text-transform: uppercase;
  font-weight: bold !important;
}

.headingBig,
.headingSmall {
  margin-top: 10px;
  margin-bottom: 10px;
}

.headingBig {
  font-size: 2rem !important;
}

.headingSmall {
  font-size: 1.75rem !important;
}

.subHeading {
  color: $heading-dark;
  font-size: 12px !important;
}
