<ion-menu [content]="content" id="menu-material">

  <ion-content>

    <div class="menu-header">
      <img class="user-avatar" src="assets/img/logo.png"/>
      <p class="name">SC Dahenfeld</p>
    </div>

    <ion-list no-lines>
      <ion-list-header class="list-header">Verein</ion-list-header>
      <button ion-item menuClose *ngFor="let p of vereinNavigation" (click)="openPage(p)"
              [ngClass]="{'navigationItemIsActive' : p.active}">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <ion-list no-lines>
      <ion-list-header>Fußball</ion-list-header>
      <button ion-item menuClose *ngFor="let p of fussballNavigation" (click)="openPage(p)"
              [ngClass]="{'navigationItemIsActive' : p.active}">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <ion-list no-lines>
      <ion-list-header>Turnen & Tischtennis</ion-list-header>
      <button ion-item menuClose *ngFor="let p of turnenTischtennisNavigation" (click)="openPage(p)"
              [ngClass]="{'navigationItemIsActive' : p.active}">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <ion-list *ngIf="false" no-lines>
      <ion-list-header>Development</ion-list-header>
      <button ion-item menuClose *ngFor="let p of developmentNavigation" (click)="openPage(p)"
              [ngClass]="{'navigationItemIsActive' : p.active}">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <ion-list no-lines>
      <ion-list-header>Die SCD-App</ion-list-header>
      <button ion-item menuClose *ngFor="let p of appNavigation" (click)="openPage(p)"
              [ngClass]="{'navigationItemIsActive' : p.active}">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
