<ion-header>
  <scd-navbar heading="Kalender"></scd-navbar>

  <ion-buttons end>
    <button ion-button [disabled]="isToday" (click)="today()">Today</button>
    <button ion-button (click)="changeMode('month')">M</button>
    <button ion-button (click)="changeMode('week')">W</button>
    <button ion-button (click)="changeMode('day')">D</button>
    <button ion-button (click)="loadEvents()">Load Events</button>
  </ion-buttons>
</ion-header>

<ion-content no-padding>

  <loading [isLoading]="isLoading"></loading>
  <error [isError]="isError"></error>

</ion-content>
