<ion-header>
  <simple-navbar heading="Kalender"></simple-navbar>
</ion-header>

<ion-content no-padding>

  <page-state [isLoading]="isLoading" [isError]="isError"></page-state>

  <page-state [isError]="!isLoading && calendarEvents.length == 0"
              errorMessage="In den nächsten Wochen stehen leider keine Termine des SCD an"></page-state>

  <ng-template ngFor let-calendarEvent [ngForOf]="calendarEvents">
    <separator [text]="calendarEvent.date | date : 'longDate'"
               *ngIf="checkHeader(calendarEvent.date)">
    </separator>

    <card-extended [title]="calendarEvent.title"
                   [category]="getCalendarEventDate(calendarEvent.date)"
                   [location]="calendarEvent.location"
                   [text]="calendarEvent.category">
    </card-extended>
  </ng-template>


</ion-content>
