<ion-header>
  <simple-navbar [heading]="heading"></simple-navbar>
</ion-header>

<ion-content no-padding class="grayBackground">

  <loading [isLoading]="isLoading"></loading>
  <error [isError]="isError"></error>

  <div class="maxWidthContainer">
    <card-extended *ngFor="let article of articles"
                   (click)="openArticle(article)"
                   [title]="article.titel"
                   [img]="article.image"
                   [date]="article.erstellungsdatum | date: 'longDate'">
    </card-extended>
  </div>

</ion-content>
