<ion-grid no-padding *ngIf="teams">

  <ion-row class="rankingHeader">
    <ion-col col-1 class="rankingCol rankingPlace">#</ion-col>
    <ion-col col-8 class="rankingCol rankingTeam">Verein</ion-col>
    <ion-col col-1 class="rankingCol rankingTextCenter">Sp</ion-col>
    <ion-col col-1 class="rankingCol rankingTextCenter">+/-</ion-col>
    <ion-col col-1 class="rankingCol rankingTextCenter">Pkt</ion-col>
  </ion-row>

  <ion-row *ngFor="let team of teams | orderBy : ['-points', '-goalsDiff']; let i = index"
           [ngClass]="{ rankingFavorite : (team.teamName == favTeam) }"
           class="rankingBody">

    <ion-col col-1 class="rankingCol rankingPlace">{{ i + 1 }}</ion-col>
    <ion-col col-8 class="rankingCol rankingTeam">
      <club-image [clubId]="team.teamId" cssClass="logoSmall"></club-image>
      <span>{{ team.teamName }}</span>
    </ion-col>
    <ion-col col-1 class="rankingCol rankingTextCenter">{{ team.matches }}</ion-col>
    <ion-col col-1 class="rankingCol rankingTextCenter">{{ team.goalsDiff }}</ion-col>
    <ion-col col-1 class="rankingCol rankingTextCenter">{{ team.points }}</ion-col>

  </ion-row>

</ion-grid>
