<ion-header>
  <scd-navbar [heading]="heading"></scd-navbar>
</ion-header>

<ion-content no-padding class="grayBackground">

  <loading [isLoading]="isLoading"></loading>
  <error [isError]="isError"></error>

  <ion-card *ngFor="let article of articles" (click)="openArticle(article)">

    <div *ngIf="article.image" class="card-image" [ngStyle]="{'background-image' : article.image}"></div>

    <ion-card-content>
      <h2 class="headingTop">{{ article.erstellungsdatum | date : 'longDate'}}</h2>
      <h1 class="headingSmall">{{ article.titel }}</h1>
      <div [innerHtml]="article.text | limitHtmlText: 150"></div>
    </ion-card-content>
  </ion-card>

</ion-content>
