player-image {

  .playerImageContainer {
    position: relative;
  }

  .image {
    margin: 10px auto;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    z-index: 0;
  }

  .badge {
    position: absolute;
    bottom: 15px;
    right: 35px;
    background: $heading-dark;
    color: $white-color;
    z-index: 1;
    height: 25px;
    width: 25px;
    padding-top: 7px;
    border-radius: 30px;
  }

}
