<ion-header no-shadow no-border>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ soccerService.soccer.team.toString() }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="grayBackground">

  <ion-grid class="spieltagNavigation">
    <ion-row>

      <ion-col col-2 (click)="previousMatchday()" class="matchdayNavigationArrow">
        <button ion-button clear color="dark" small>
          <ion-icon [ngClass]="{spieltagIconGray : (actualMatchday == 1)}"
                    name="arrow-round-back"></ion-icon>
        </button>
      </ion-col>

      <ion-col col-8 class="actualMatchday">{{ actualMatchday }}. Spieltag</ion-col>

      <ion-col col-2 (click)="nextMatchday()" class="matchdayNavigationArrow">
        <button ion-button clear color="dark" small>
          <ion-icon [ngClass]="{spieltagIconGray : (actualMatchday == maxMatchday)}"
                    name="arrow-round-forward"></ion-icon>
        </button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <div *ngFor="let spiel of soccerService.soccer.matches | filterMatchday: actualMatchday; let i = index">

    <ng-template [ngIf]="hasSameMatchDay(spiel.date) || i == 0">
      <div class="spieltagDatum">{{ spiel.date | date : 'fullDate' }}</div>
    </ng-template>

    <ion-card class="spielplanIonCard" [ngClass]="{isSCD : isFavoriteTeam(spiel)}" (click)="openMatch(spiel.match_id)">
      <ion-card-content class="spielplanIonCardContent">
        <ion-grid>
          <ion-row class="spielContainer">

            <ion-col class="spielHeim">{{ spiel.home_name }}</ion-col>
            <ion-col class="spielHeimLogo">
              <img src="assets/img/clubs/{{ spiel.home_id }}.png" onError="this.src='assets/img/defaultLogo.png'"/>
            </ion-col>

            <ion-col class="spielErgebnis" *ngIf="spiel.home_result && spiel.away_result">
              {{ spiel.home_result }}:{{ spiel.away_result }}
            </ion-col>
            <ion-col class="spielDatum" *ngIf="!spiel.home_result && !spiel.away_result">
              {{ spiel.date | date : 'HH:mm'}}
            </ion-col>

            <ion-col class="spielGastLogo">
              <img src="assets/img/clubs/{{ spiel.away_id }}.png" onError="this.src='assets/img/defaultLogo.png'"/>
            </ion-col>
            <ion-col class="spielGast">{{ spiel.away_name }}</ion-col>

          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
