<ion-header>
  <ion-toolbar>
    <ion-title>{{ player.vorname }} {{ player.nachname }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span showWhen="ios">Zurück</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <!-- Image -->
  <player-image [img]="player.bild"></player-image>

  <!-- Segment -->
  <ion-toolbar>
    <ion-segment [(ngModel)]="segmentType">
      <ion-segment-button value="playerInfo">
        Spielerinfo
      </ion-segment-button>
      <ion-segment-button value="seasonStats">
        Akt. Saison
      </ion-segment-button>
      <ion-segment-button value="careerStats">
        Karriere
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="segmentType">
    <!-- Player Info -->
    <playerInfo *ngSwitchCase="'playerInfo'" [player]="player"></playerInfo>

    <!-- Season -->
    <playerStats *ngSwitchCase="'seasonStats'"
                 [stats]="player.seasonStats"
                 heading="Statistiken der aktuellen Saison"></playerStats>

    <!-- Career -->
    <playerStats *ngSwitchCase="'careerStats'"
                 [stats]="player.careerStats"
                 heading="Statistiken der Karriere*"
                 information="* seit der Saison 2013/2014"></playerStats>
  </div>

</ion-content>
