<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close" showWhen="android,windows,ios"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="imageContainer">
    <leadimage [src]="getPlayerImage(player.bild)"
               imgPosition="Top">
    </leadimage>

    <div class="playerName">
      <h1>{{player.nachname}}</h1>
      <h2>{{player.vorname}}</h2>
    </div>

    <ion-grid class="playerInfo">
      <player-info-row text="Alter" [value]="player.age" *ngIf="player.age"></player-info-row>
      <player-info-row text="Geburtstag" [value]="player.birthday | date : 'shortDate'"
                       *ngIf="player.birthday && isDevModeEnabled()"></player-info-row>
      <player-info-row text="Trikotnummer" [value]="player.jerseynumber"
                       *ngIf="player.jerseynumber > 0"></player-info-row>
      <player-info-row text="Position" [value]="player.position" *ngIf="player.position"></player-info-row>
    </ion-grid>
  </div>

  <div class="statisticsHeader">
    Statistiken
  </div>

  <player-statistic text="Spiele"
                    [seasonValue]="player.seasonStats.matches"
                    [careerValue]="player.careerStats.matches">
  </player-statistic>

  <player-statistic text="Startelf"
                    [seasonValue]="player.seasonStats.starting"
                    [careerValue]="player.careerStats.starting">
  </player-statistic>

  <player-statistic text="Spielminuten"
                    [seasonValue]="player.seasonStats.playingMinutes"
                    [careerValue]="player.careerStats.playingMinutes">
  </player-statistic>

  <player-statistic text="Tore"
                    [seasonValue]="player.seasonStats.goals"
                    [careerValue]="player.careerStats.goals">
  </player-statistic>

  <player-statistic text="Einwechslungen"
                    [seasonValue]="player.seasonStats.cameIn"
                    [careerValue]="player.careerStats.cameIn">
  </player-statistic>

  <player-statistic text="Auswechslungen"
                    [seasonValue]="player.seasonStats.cameOut"
                    [careerValue]="player.careerStats.cameOut">
  </player-statistic>

  <player-statistic text="Gelbe Karten"
                    [seasonValue]="player.seasonStats.yellowCards"
                    [careerValue]="player.careerStats.yellowCards">
  </player-statistic>

  <player-statistic text="Gelb-Rote Karten"
                    [seasonValue]="player.seasonStats.yellowRedCards"
                    [careerValue]="player.careerStats.yellowRedCards">
  </player-statistic>

  <player-statistic text="Rote Karten"
                    [seasonValue]="player.seasonStats.redCards"
                    [careerValue]="player.careerStats.redCards">
  </player-statistic>

</ion-content>
