<ion-header no-border>
  <ion-navbar transparent class="navBar-color-onScroll-transition">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title></ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="shareArticle()">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>

  <loading [isLoading]="isLoading"></loading>
  <error [isError]="isError"></error>

  <leadimage [src]="article?.image"></leadimage>

  <div padding>
    <h2 class="headingTop" style="text-align: center" *ngIf="showInformation(article?.id)">{{ article?.kategorie}}</h2>

    <h1 class="headingBig" style="text-align: center">{{ article?.titel }}</h1>

    <ion-grid *ngIf="showInformation(article?.id)" class="subHeading">
      <ion-row>
        <ion-col text-left>
          {{ article?.erstellungsdatum | date : 'longDate'}}
        </ion-col>
        <ion-col text-right>
          {{ article?.ersteller }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <hr/>

  <div padding [innerHtml]="article?.text" class="htmlContent"></div>

  <div padding>
    <button ion-button color="primary" icon-left block (click)="shareArticle()">
      <ion-icon name="share"></ion-icon>
      Teilen
    </button>
  </div>

</ion-content>
