<ion-header no-border>
  <ion-navbar transparent class="navBar-color-onScroll-transition">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ heading }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen class="grayBackground">

  <loading [isLoading]="isLoading"></loading>
  <error [isError]="isError"></error>

  <ion-slides class="articlesSlider" pager loop autoplay="5000" *ngIf="featureArticles.length">

    <ng-template ngFor let-article [ngForOf]="featureArticles">
      <ion-slide [ngStyle]="{'background-image' : article.image}"
                 class="sliderBackgroundImage"
                 (click)="openArticle(article)">

        <div class="slideContent">
          <p class="noMargin">{{ article.kategorie }}</p>
          <h3 class="noMargin">{{ article.titel }}</h3>
        </div>
      </ion-slide>

    </ng-template>
  </ion-slides>

  <!-- Event -->
  <div *ngIf="eventEntry">
    <h5 class="sectionHeading">Veranstaltung</h5>
    <!-- TODO: Hier funktioniert der Aufruf der Methode noch nicht -->
    <!--<smallCard (click)="openEvent(eventEntry)"-->
    <!--[img]="eventEntry.getImageUrl()"-->
    <!--[title]="eventEntry.title"-->
    <!--[subTitle]="eventEntry.getFormattedDate()">-->
    <!--</smallCard>-->
    <div class="separator"></div>
  </div>

  <!-- Articles -->
  <h5 class="sectionHeading">Neues vom SCD</h5>
  <big-card [img]="article.image"
            [category]="article.kategorie"
            [title]="article.titel"
            *ngFor="let article of articles"
            (click)="openArticle(article)">
  </big-card>

</ion-content>
