<ion-header no-shadow no-border>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ soccerService.soccer.team.toString() }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-item-group
    *ngFor="let p of soccerService.soccer.players | orderPosition: ['Torhüter', 'Abwehr', 'Mittelfeld', 'Sturm']">

    <ng-template [ngIf]="checkHeaderPosition(p.position)">
      <ion-item-divider light style="position: static;">{{ p.position }}</ion-item-divider>
    </ng-template>

    <button ion-item (click)="openPlayer(p)">
      <ion-avatar item-left>
        <img *ngIf="p.bild" src="http://sc-dahenfeld.de/{{ p.bild }}" width="100%"/>
        <img *ngIf="!p.bild" src="assets/img/platzhalter_kader.png" width="100%"/>
      </ion-avatar>

      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>{{ p.vorname | shorten : 1}}. {{ p.nachname }}</h2>
            <p>{{ p.age }} Jahre</p>
          </ion-col>
        </ion-row>
      </ion-grid>


    </button>
  </ion-item-group>

</ion-content>
