<ion-content>

  <loading [isLoading]="isLoading"></loading>
  <error [isError]="isError"></error>

  <ng-template ngFor let-player [ngForOf]="players | orderPosition: ['Torhüter', 'Abwehr', 'Mittelfeld', 'Sturm']">

    <ng-template [ngIf]="checkHeaderPosition(player.position)">
      <div class="positionHeader">
        {{ player.position }}
      </div>
    </ng-template>

    <div class="player" (click)="openPlayer(player)">
      <player-image [img]="player.bild"></player-image>
      <b>{{ player.vorname }} {{ player.nachname }}</b>
    </div>

  </ng-template>

</ion-content>
