<ion-header>
  <simple-navbar heading="Jugend"></simple-navbar>
</ion-header>

<ion-content class="grayBackground">

  <loading [isLoading]="teams.size == 0"></loading>
  <error [isError]="isError"></error>

  <div *ngFor="let team of teams">
    <h4 class="teamHeading">{{ team.team.toString() }}</h4>

    <ion-card (click)="openTeamDetails(team.team)">
      <ranking [teams]="team.ranking"
               [showMatches]="false"
               [showWins]="false"
               [showDraws]="false"
               [showLoses]="false"
               [showGoalsFor]="false"
               [showGoalsAgainst]="false"
               [showTeamImage]="false">
      </ranking>

      <ion-row no-padding>
        <ion-col text-center>
          <button ion-button clear full color="primary">
            Mehr zur {{ team.team.toString() }}
          </button>
        </ion-col>
      </ion-row>
    </ion-card>

  </div>
</ion-content>
