<ion-header>
  <scd-navbar heading="Jugend"></scd-navbar>
</ion-header>

<ion-content class="grayBackground">

  <loading [isLoading]="teams.size == 0"></loading>
  <error [isError]="isError"></error>

  <div *ngFor="let team of teams">
    <ng-template [ngIf]="team.ranking">

      <h4>{{ team.team.toString() }}</h4>

      <ion-card>
        <ranking [teams]="team.ranking"></ranking>

        <ion-row no-padding>
          <ion-col text-center>
            <button ion-button clear full color="primary" (click)="openTeamDetails(team.team)">
              Mehr zur {{ team.team.toString() }}
            </button>
          </ion-col>
        </ion-row>
      </ion-card>

    </ng-template>

  </div>
</ion-content>
