<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>News</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="grayBackground">

  <loading [isLoading]="isLoading"></loading>
  <error [isError]="isError"></error>

  <!-- EVENT -->
  <div *ngIf="event">
    <ion-card (click)="openEvent(event)">
      <ion-item class="card-event">
        <ion-avatar item-left>
          <img src="http://sc-dahenfeld.de/{{ event.image }}">
        </ion-avatar>

        <p *ngIf="event.end == '0'">am {{ event.start | date : 'longDate' }}</p>
        <p *ngIf="event.end != '0'">
          von {{ event.start | date : "dd" }}.
          bis {{ event.end | date : 'longDate' }}
        </p>
        <h2><b>{{ event.title }}</b></h2>
      </ion-item>
    </ion-card>
  </div>

  <!-- NEWS -->
  <ion-card *ngFor="let n of news" (click)="openNews(n)">

    <div class="card-image" [ngStyle]="{'background-image' : 'url(' + n.image + ')'}"></div>

    <ion-card-content>
      <h2 class="headingTop">{{ n.erstellungsdatum | date : 'longDate'}}</h2>
      <h1 class="heading">{{ n.titel }}</h1>
      <div [innerHtml]="n.text | limitHtmlText: 150"></div>
    </ion-card-content>
  </ion-card>

</ion-content>
