<ion-header no-border>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close" showWhen="android,windows,ios"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <super-tabs toolbarColor="lighter" indicatorColor="lighter">
    <super-tab [root]="overviewTab" title="Übersicht" [rootParams]="{'id': matchId}"></super-tab>
    <super-tab [root]="lineupTab" title="Aufstellung" [rootParams]="{'id': matchId}"></super-tab>
    <super-tab [root]="gameReportTab" title="Spielbericht" [rootParams]="{'id': matchId}"></super-tab>
  </super-tabs>

</ion-content>
